@model SpeDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã Chuyên Ngành
            </th>
            <th>
              Tên Chuyên Ngành(TV)
            </th>
            <th>
                Tên Chuyên Ngành(TA)
            </th>
            <th>Mô tả</th>          
            <th>
              Hành động
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Specialities) {
        <tr>
            <td>
                @item.SpecialityId
            </td>
            <td>
                @item.NameVN
            </td>
            <td>
                @item.NameEN
            </td>
            <td>
                @item.Desciption
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
