<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thăng long</title>
    <link rel="stylesheet" href="style.css">

    <link rel="shortcut icon" href="img/favicon.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="css/elegant-icons-style.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <section id="container" class="">
        <!--header start-->

        <header class="header dark-bg">
            <!--logo start-->
            <a href="" class="logo">Thăng Long <span class="lite"></span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text">
                        </form>
                    </li>
                </ul>
                <!--  search form end -->
            </div>

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">

                    <!-- task notificatoin start -->
                    <!-- task notificatoin end -->
                    <!-- inbox notificatoin start-->
                    <li id="mail_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope-l"></i>

                        </a>

                    </li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">

                                <img src="~/img/user.jpg" />
                            </span>
                            <span class="username">TongDT</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="#"><i class="icon_profile"></i> My Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                            </li>
                            <li>
                                <a href="#">@*<i class="icon_clock_alt"></i>*@ Timeline</a>
                            </li>

                            <li>
                                <a href="login.html"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                            <li>
                                <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                            </li>
                            <li>
                                <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="">
                        <a class="" href="index.html">
                            @*<i class="icon_house_alt"></i>*@
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            @*<i class="icon_document_alt"></i>*@
                            <span>Khóa</span>
                            @*<span class="menu-arrow arrow_carrot-right"></span>*@
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Danh sach khóa", "Index", "Course")</li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <span>Khoa</span>
                            @*<span class="menu-arrow arrow_carrot-right"></span>*@
                        </a>
                        <ul class="sub">
                            @*<li><a class="" asp-action="Views\Faculty\Index">Danh sách Khoa</a></li>*@
                            <li>@Html.ActionLink("Danh sach khoa", "Index", "Faculty")</li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <span>Chuyên Ngành</span>
                            @*<span class="menu-arrow arrow_carrot-right"></span>*@
                        </a>
                        <ul class="sub">
                            @*<li><a class="" asp-action="Views\Faculty\Index">Danh sách Khoa</a></li>*@
                            <li>@Html.ActionLink("Danh sách chuyên ngành", "Index", "Speciality")</li>
                        </ul>
                    </li>
                    <li>
                        <a class="" href="chart-chartjs.html">
                            <span>Chương trình học</span>

                        </a>

                    </li>
                    <li class="sub-menu ">
                        <a href="javascript:;" class="">
                            <span>Pages</span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="profile.html">Profile</a></li>
                            <li><a class="" href="login.html"><span>Login Page</span></a></li>
                            <li><a class="" href="contact.html"><span>Contact Page</span></a></li>
                            <li><a class="active" href="blank.html">Blank Page</a></li>
                            <li><a class="" href="404.html">404 Error</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="" href="/subject">
                            <span>Môn</span>
                        </a>

                    </li>
                   
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <div class="container main-content">
            <main role="main" class="pb-3">
                @RenderBody()
                <!-- Modal -->
                <div id="common-modal" class="modal" data-backdrop="static"></div>
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
            </div>
        </footer>



        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
        <!-- javascripts -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- nice scroll -->
        <script src="js/jquery.scrollTo.min.js"></script>
        <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
        <!--custome script for all page-->
        <script src="js/scripts.js"></script>


</body>
</html>
