@model IEnumerable<StudyProgram.Entity.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <p>
        <button type="button" class="btn btn-info btn-lg" onclick="showFormCreateUser()">Thêm mới</button>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên đăng nhập
            </th>
            <th>
                Tên đầy đủ            
            </th>
            <th>
                Mật khẩu
               
            </th>
            <th>
                Trạng thái
               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.DisplayName
            </td>
            <td>
               @item.PassWord
            </td>
            <td>
                @item.Isdeleted



            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function showFormCreateUser() {
        $("#common-modal").load('/User/Create', function () {
            $('#common-modal').modal("show");
        });
    }// End
</script>