@model IEnumerable<StudyProgram.Models.CourseDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <button type="button" class="btn btn-info btn-lg" onclick="showFormCreateCourse()">Thêm mới</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Mã Khóa
            </th>
            <th>
                Tên
            </th>
            <th>
                Ngày Tháng
            </th>
            <th>
                Mô tả
            </th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.CourseId
            </td>
            <td>
                @item.Name;
            </td>
            <td>
                @item.CreateDate
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function showFormCreateCourse() {
        $("#common-modal").load('/Course/Create', function () {
            $('#common-modal').modal("show");
        });
    }
</script>